<ul class="treeview-menu" data-hook="admin_content_sidebar_menu">
  <li><%= configurations_sidebar_menu_item Spree.t(:pages), admin_pages_path %></li>
  <li><%= configurations_sidebar_menu_item Spree.t(:layouts), admin_layouts_path %></li>
</ul>
